<html>
    <head>
        <title>Listado</title>
        <link rel="shortcut icon" href="#">
    </head>
    <style>
        *{
            margin: 0;
        }
        table {
            align-items: center;
            margin-right: auto;
            margin-left: auto;
        }
        h1 {
            width: fit-content;
            font-family: 'Courier New', Courier, monospace;
            margin-left: auto;
            margin-right: auto;
            font-size: 50px;
        }
        th,td {
            width: 250px;
            justify-content: center;
            font-size: 20px;
            font-family: 'Lucida Sans';
        }
        td:nth-child(2) {
            text-align: center;
        }
    </style>
    <body>
        <h1>Lista de tareas a realizar</h1>
        <br/>
        <table>
            <tr>
                <th>Tareas a realizar</th>
                <th>Opciones</th>
            </tr>
            {% for id in tododict %}
            <tr>
                <td>{{ tododict[id] }}</td>
                <td><a href="/delete/{{ id }}"><button>Borrar</button></a></td>
            </tr>
            {% endfor %}
            <tr>
                <form method="POST" action="/add">
                <td><input type="text" name="newtodo" required></td>
                <td style="text-align: center;"><button type="submit">Nueva Tarea</button></td>
                </form>
            </tr>
        </table>
    </body>
</html>